@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Staatliches&display=swap');

body{
    background-color: #D1C4E9;
    color: black;
    margin: 0;
    text-align:center;
}

.header {
    text-align:center;
    padding: 2%;
    background-color: #512DA8;
    font-size: 5vw;
    font-family: 'Staatliches', cursive;
    color: white;
}

.intro {
    font-family: 'Bebas Neue', cursive;
    color: #212121;
    text-align:center;
    font-size: 4vw;
    padding-top:5%;
}

.play {
	box-shadow:inset 3px -2px 0px 2px #9d4ad1;
	background-color:#bf7fe1;
	border-radius:10px;
	border:1px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:19px;
	padding:12px 37px;
	text-decoration:none;
	text-shadow:0px 4px 1px #9d4ad1;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.play:hover {
	background-color:#c59bdb;
}
.play:active {
	position:relative;
	top:1px;
}

.playIcon {
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding: 5%;
}

.gamesSentence{
    font-family: 'Bebas Neue', cursive;
    color: #212121;
    text-align:center;
    font-size: 4vw;
    padding-top:5%;
}

.input{
    display:block;
    text-align:center;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 5%;;
    width: 30%;
    box-sizing:border-box
}

.betweenSentence{
    font-family: 'Bebas Neue', cursive;
    color: #212121;
    text-align:center;
    font-size: 4vw;
    padding-top:5%; 
}

.moveSelect{
    font-family: 'Bebas Neue', cursive;
    color: #212121;
    text-align:center;
    font-size: 4vw;
    padding-top:5%; 
}

#buttons {
    display: none;
}

#launchPlay {
    display: none;
}

#integer {
    display: none;
}

#sentence1 {
    display: inline-block;
}

#sentence2 {
    display: none;
}

.footer {
    font-family: arial;
    color: #212121;
    font-size: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}

