@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Staatliches&display=swap');

body{
    background-color: #D1C4E9;
    color: black;
    margin: 0;
    text-align:center;
}

.header {
    text-align:center;
    padding: 2%;
    background-color: #512DA8;
    font-size: 5vw;
    font-family: 'Staatliches', cursive;
    color: white;
}





.intro {
    font-family: 'Bebas Neue', cursive;
    color: #212121;
    text-align:center;
    font-size: 4vw;
    padding-top:5%;
    text-shadow: 3px 3px 3px white;
}

.play {
	box-shadow:inset 3px -2px 0px 2px #9d4ad1;
	background-color:#bf7fe1;
	border-radius:10px;
	border:1px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:19px;
	padding:12px 37px;
	text-decoration:none;
	text-shadow:0px 4px 1px #9d4ad1;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.play:hover {
	background-color:#c59bdb;
}
.play:active {
	position:relative;
	top:1px;
}

.playIcon {
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding: 5%;
}






.gamesSentence{
    font-family: 'Bebas Neue', cursive;
    color: #212121;
    text-align:center;
    font-size: 4vw;
    padding-top:5%;
    text-shadow: 3px 3px 3px white;
}

.betweenSentence{
    font-family: 'Bebas Neue', cursive;
    color: #212121;
    text-align:center;
    font-size: 4vw;
    padding-top:5%; 
    text-shadow: 3px 3px 3px white;
    
}

.input{
    display:block;
    text-align:center;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 5%;;
    width: 30%;
    box-sizing:border-box;
    font-family: Arial;
    width: 50%;
    border: 0;
    border-bottom: 2px solid #3a3939;
    outline: 0;
    font-size: 1.3rem;
    color: #3a3939;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
}







.gameScore {
    font-family: 'Bebas Neue', cursive;
    color: #212121;
    text-align:center;
    font-size: 2vw;
    padding-top:40px; 
    padding-bottom:20px; 
}

.result {
    display:flex;
    justify-content: center;
    align-items: center;
}

.playerMove, 
.computerMove {
    display:flex;
}

.rockPM, 
.paperPM, 
.scissorsPM, 
.rockCM, 
.paperCM, 
.scissorsCM {
    width: 100%;
    height: 100%;
}

.gamingIcon {
    width: 40%;
    height: 40%;
    padding: 5%;
}

.versus {
    font-family: 'Bebas Neue', cursive;
    color: #212121;
    font-size: 7vw;
    padding-right: 20px;
    padding-left: 20px;
    height: 50x;
    width: 7%;
}










.results {
    font-family: 'Bebas Neue', cursive;
    color: #212121;
    text-align:center;
    font-size: 4vw;
    padding-top:5%;
    text-shadow: 3px 3px 3px white;
    white-space: pre-line;
}







.moveSelect{
    font-family: 'Bebas Neue', cursive;
    color: #212121;
    text-align:center;
    margin:10px;
    font-size: 4vw;
    text-shadow: 3px 3px 3px white;
}

.move {
    display: inline-block;
    text-align:center;
    width: 100%;
    padding-bottom: 50px;
}

.rock, 
.paper, 
.scissors {
    background-color: #e79bf5;
    border-radius: 15px;
    padding: 20px;
    margin:10px;
    width:10%;
    height: 10%;
    display: inline-block;
    box-shadow:inset 0px 1px 0px 0px #efdcfb;
	background-color:#bc80ea;
	border:1px solid #c584f3;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	text-decoration:none;
	text-shadow:0px 1px 0px #9752cc;
}
.rock:hover, 
.paper:hover, 
.scissors:hover {
    background-color:#c38fee;
}
.rock:active, 
.paper:active, 
.scissors:active {
	position:relative;
	top:1px;
}








#buttons {
    display: none;
}

#launchPlay {
    display: none;
}

#integer {
    display: none;
}

#sentence1 {
    display: inline-block;
}

#sentence2 {
    display: none;
}








.footer {
    font-family: arial;
    color: #212121;
    font-size: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}

