body{
    background-color: grey;
    color: white;
}

#buttons {
    display: none;
}

#launchPlay {
    display: none;
}

#integer {
    display: none;
}

#sentence1 {
    display: block;
    visibility: visible;
}

#sentence2 {
    display: none;
    visibility: hidden;
}
